@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;300&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --Gray: hsl(0, 0%, 41%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.showcase{
    background: url('../desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:500px;
    width: 100%;
}
.container{
    position:relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 7rem;
    z-index: 10;
}
.navbar{
    height: 70px;
    padding-top:50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 100%;
}
.logo{
    width: 200px;
}
nav .mainmenu li{
    display: inline-block;
}
nav .mainmenu li a{
    text-decoration: none;
    color:var(--White);
    padding: 0 20px;
    font-size: 15px;
    font-family:'Alata', sans-serif;
}
nav .mainmenu li a:hover{
    border-bottom: 1px solid var(--White);
}
.main{
    margin-top:15%;
    width:50%;
}
.main-text h1{
    color: var(--White);
    font-size:35px;
    font-family:'Josefin Slab', serif;
    text-transform: uppercase;
    font-weight:200;
    border: 1px solid var(--White);
    padding: 20px 35px;
}
.content{
    width: 100%;
}
.content-img img{
    position:relative;
    height: auto;
    width: 500px;
    margin-top:20%;
}
.content-text{
    position: absolute;
    background-color: var(--White);
    width:50%;
    margin-top:18%;
    margin-left:30%;
    height:250px;
}
.main-content{
    display: flex;
}
.hero{
    margin:50px 70px;
}
.hero h2{
    font-family:'Alata', sans-serif ;
    font-weight: 300;
    font-size:30px;
    text-transform: uppercase;
    line-height: 1.0em;
    margin-bottom: 30px;
    
}
.slideleft{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.hero p{
    font-size: 15px;
    font-family: 'Alata', sans-serif ;
    font-weight: lighter;
}
.activity{
    padding-top:150px;
    width: 100%;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    transition: all .40s ease;
}
.text h2{
    font-size: 30px;
    font-family:'Alata', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}
.text button{
    background: none;
    outline:none;
    border: 1px solid var(--DarkGray);
    margin-right:50px;
    padding:5px 18px;
    cursor: pointer;
}
.text button:hover{
    background-color: var(--Black);
    color: var(--White);
}
.picture{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 20px;
}
.picture img{
    height: auto;
    width: 200px;
}
.picture h3{
    position: absolute;
    margin-top:20%;
    margin-left:30px;
    color: var(--White);
    font-size:18px;
    font-family:'Alata', sans-serif ;
    font-weight: 300;
    text-transform: uppercase;
}
.footer{
    background-color: var(--Black);
    height: 150px;
    width: 100%;
}
.end{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-top: 20%;
    padding-top: 50px;
    grid-gap: 20%;
}
.end .log img{
    height: auto;
    width: 100px;
}
.end .social img{
    height: auto;
    width: 30px;
    padding-left: 10px;
}
.end .link ul li{
    color: var(--White);
    text-decoration: none;
    display: inline-block;
    padding-right: 12px;
    padding-top: 12px;
    margin-top: 10px;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}
.end p{
    color: var(--White);
    margin-top: 20px;
    font-family: 'Alata', sans-serif;
    font-size: 12px;
}
.attribution a{
    text-decoration: none;
    color: var(--Black);
    font-family: 'Alata', sans-serif;
    font-size: 12px;
}
.mobile{
    display: none;
}

@media (max-width:600px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .openMenu{
        cursor: pointer;
    }
    .mainMenu{
        position: fixed;
		right: 0%;
		width: 100%;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
        height:100%;
        top:0;
        overflow-x: hidden;
        padding: 40px 40px;
        display: none;
        z-index: 10;
        transition: 1s ease-in-out;
    }
    .lnk{
        margin-top:20%;
    }
    .lnk li a{
        text-decoration: none;
        color: var(--White);
        font-family: 'Josefin Slab', serif;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .mainMenu .flex .logo{
        height: auto;
        width: 100px;
    }
    .flex .closeMenu img{
        height: auto;
        width: 25px;
    }
    .flex{
       display: flex;
       align-items:center;
       justify-content: space-between;
    }
    nav .mainMenu li a{
        display: block;
    } 
    .showcase2{
        background: url('../mobile/image-hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:90vh;
        width: 100%;
    }
    .container2{
        position:relative;
        max-width: 81rem;
        width: 100%;
        margin: 0 auto;
        padding:0 3rem;
    }
    .main2{
        margin-top: 40%;
    }
    .main-text2 h1{
        color: var(--White);
        font-size:35px;
        font-family:'Josefin Slab', serif;
        text-transform: uppercase;
        font-weight:200;
        border: 2px solid var(--White);
        padding: 20px 10px;
        margin-left: 20px;
        line-height: 2rem;
        
    }
    .content2{
        width: 100%;
    }
    .image img{
        margin-top:30%;
        margin-bottom:30px;
    }
    .content-text2 h2{
        font-size: 35px;
        font-family: sans-serif;
        font-weight: lighter;
        text-transform: uppercase;
        text-align: center;
        color: var(--Black);
    }
    .content-text2 p{
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: var(--Gray);
        text-align:center;
        margin-top: 20px;
        line-height: 2rem;
    }
    .activity2{
        width: 100%;
    }
    .text2 h2{
        font-size: 30px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight:lighter;
        padding-top: 70px;
        text-align: center;
        margin-bottom: 20px;
    }
    .pic h3{
        position: absolute;
        color: var(--White);
        margin-top:15%;
        margin-left:30px;
        font-size: 18px;
        font-family: 'josefin', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }.pic img{
        margin-bottom: 30px;
    }
    .activity2 button{
        background: none;
        outline:none;
        border: 1px solid var(--DarkGray);
        padding:12px 30px;
        cursor: pointer;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .activity2 button:hover{
        background-color: var(--Black);
        color: var(--White);
    }
    .footer2{
        background-color: var(--Black);
        width: 100%;
    }
    .end2 .log img{
        height: auto;
        width: 150px;
        margin-top: 50px;
    }
    .social2 img{
        height: auto;
        width: 30px;
        padding-left: 10px;
        text-align: center;
        margin-top: 30px;
    }
    .link ul li{
        color: var(--White);
        text-decoration: none;
        padding-right: 12px;
        padding-top: 12px;
        margin-top: 10px;
        font-family: 'Alata', sans-serif;
        font-size: 15px;
        text-align: center;
    }
    .end2 p{
        color: var(--Gray);
        margin-top: 20px;
        font-family: 'Alata', sans-serif;
        font-size: 12px;
        text-align: center;
        padding-bottom: 20px;
    }
}